//colors
$color_woodsmoke_approx: #10110c;
$color_rangoon_green_91_approx: rgba(29, 28, 28, 0.91);
$white: #ffffff;
$black_50: rgba(0, 0, 0, 0.5);
$color_emerald_approx: #4cd964;
$color_turquoise_blue_approx: #5ac8fa;
$color_azure_radiance_approx: #007aff;
$color_picton_blue_approx: #34aadc;
$color_indigo_approx: #5856d6;
$color_radical_red_approx: #ff2d55;
$color_gallery_approx: #eaecee;
$black_13: rgba(0, 0, 0, 0.13);
$white_50: rgba(255, 255, 255, 0.5);
$white_10: rgba(255, 255, 255, 0.1);
$color_wild_sand_approx: #f5f5f5;
$color_silver_chalice_approx: #aeaeae;
$color_shark_approx: #212529;
$black_90: rgba(0, 0, 0, 0.9);
$color_violet_eggplant_approx: #a30da5;
$color_tan_hide_80_approx: rgba(253, 149, 90, 0.8);
$color_log_cabin_approx: #1f1f21;
$black_30: rgba(0, 0, 0, 0.3);
$black_20: rgba(0, 0, 0, 0.2);
$color_congress_blue_approx: #024b96;
$color_purple_approx: #77068c;
$color_downy_approx: #67cecd;
$color_primrose_approx: #eaef91;
$white_30: rgba(255, 255, 255, 0.3);
$color_razzmatazz_40_approx: rgba(216, 26, 110, 0.4);
$color_riptide_40_approx: rgba(142, 218, 218, 0.4);
$color_mid_gray_approx: #5c5c6c;
$black: #000;
$color_mountain_mist_approx: #999999;
$color_la_rioja_approx: #bbb900;
$color_mine_shaft_approx: #333333;
$black_35: rgba(0, 0, 0, 0.35);
$black_80: rgba(0, 0, 0, 0.8);
$color_turbo_approx: #e4e100;
$black_5: rgba(0, 0, 0, 0.05);
$black_10: rgba(0, 0, 0, 0.1);
$color_gravel_approx: #474747;
$color_storm_dust_approx: #666;
$color_purple_heart_approx: rgba(116, 58, 213, 1);
$color_cerise_approx: rgba(213, 58, 157, 1);
$gray: grey;
$color_masala_approx: #3c3c3c;
$color_shark_85_approx: rgba(33, 37, 41, 0.85);
$white_100: rgba(255, 255, 255, 1);
$black_25: rgba(0, 0, 0, 0.25);
$concrete: rgb(242, 242, 242);

//fonts
$font_0: Open Sans;
$font_1: sans-serif !important;
$font_2: Open Sans;
$font_3: sans-serif;
$font_4: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
$font_5: Open Sans;
$font_6: Open Sans;
$font_7: Open Sans;
$font_8: Open Sans;
$font_9: serif;
$font_10: Open Sans;
$font_11: Open Sans;
$font_12: Open Sans;
$font_13: Open Sans;
$font_14: Open Sans;

//@extend-elements
//original selectors
//html, body
%extend_1 {
	color: $white !important;
	margin: 8px;
	position: relative;
	background-color: $color_woodsmoke_approx !important;
	max-width: 1871px;
	
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
	overflow: auto;
}
header {
    background-color: $color_woodsmoke_approx !important;
    margin-top:80px;
}
h1 {
	font-weight: 300;
	font-size: 1.5rem;
	color: $white;
	display: block;
	text-align: center;
	font-weight: 300 !important;
	font-size: 2rem!important;
}
h5 {
    font-weight: 200 !important;
    font-size: 1.2rem;
}

.text-white {
	max-width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
}
.navbar-nav {
	margin-right: 240px;
	margin-top:-100px;
}
.logotop {
	margin-left: 290px;
	margin-top: 18px;
}
.swoosh {
	height: 2.25px;
	width: 220px;
	
	img {
		margin-top: -50px;
		
	}
}
.swoosh-bar {
	animation-duration: 3s;
	animation-name: width;
	background-image: linear-gradient(to right, $color_emerald_approx, $color_turquoise_blue_approx, $color_azure_radiance_approx, $color_picton_blue_approx, $color_indigo_approx, $color_radical_red_approx);
	height: 100%;
	position: relative;
}
.swoosh-shadow {
	background-image: linear-gradient(to bottom, $color_gallery_approx, transparent);
	height: 0.1em;
	position: absolute;
	top: 100%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: skew(45deg);
	//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
	transform-origin: 0 0;
	width: 100%;
}
.btn-three {
	color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s;
	position: relative;
	font-size: 16px !important;
	background: $black_13;
	font-weight: 300 !important;
	text-transform: uppercase;
	span {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s;
	}
	&:hover::before {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1, 1);
	}
	&:hover::after {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.1, 1);
        color:#aeaeae;
	}
}
.btn-three::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: $white_50;
	border-bottom-color: $white_50;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(0.1, 1);
}
.btn-three::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s;
	background-color: $white_10;
}

.btn-three::active {
color:#aeaeae;
}
.portrait img {
	width: 300px;
	transition: all 600ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
	margin-top: -100px;
	&:hover {
		transform: scale(1.1);
		
	}
}

@keyframes width {
	0% {
		//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
		width: 0;
	}
	100% {
		//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
		width: 100%;
	}
}

@keyframes appear {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes slideIn {
	0% {
	  transform: translateX(-2%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  @keyframes shrink {
	0% {
	  width: 95%;
	}
	100% {
	  width: 90%;
	}
  }
#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 40px;
}
#push {
	height: 60px;
}
#footer {
	height: 60px;
	background-color: $color_wild_sand_approx;
	margin-top: -3px;
}

.heading-light {
	color: $white !important;
	margin-left: 210px;
	font-weight: 300;
}
.skills {
    /* max-width: 750px; */
    display: block;
    margin: 0 auto;
    /* padding: 10px 0; */
    margin-left: auto;
    margin-right: auto;
	h5 {
		margin-bottom: 0px;
    color: #ffffff;
    margin-left: 48px;
		}
	h3 {
		color: $white;
	}
}
.navbar-bg-change {
	background-color: $color_woodsmoke_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1s;
}
.navbar-brand {
	font-size: inherit !important;
	outline: none;
	margin-top: -100px;
}
.fixed-top {
    background-color: $black_90;
		height:80px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: block;
	a {
		position: relative;
		display: inline-block;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 1px;
			margin-top: -0.5px;
			background: $white;
			left: -2.5px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 1px;
			top: 50%;
			margin-top: -0.5px;
			background: $white;
			right: 2.5px;
			background: transparent !important;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
		}
		&:hover {
			&:before {
				background: transparent !important;
				width: 100%;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
			}
			&:after {
				background: transparent !important;
				width: 100%;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: 0s;
			}
		}
	}
}
@media(min-width: 992px) {
	.styles_closeButton__20ID4 {
		fill: #696767;
		outline: none !important;
		margin-top: -10px;
		margin-right: 8% !important;
	}
	header {
		padding: 15px 0 10px;
	}
	.overlayMenu {
    display:none;
}
}
@media(max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.bg-primary {
	background-color: $color_woodsmoke_approx !important;
}
.var-highlight {
	color: $color_violet_eggplant_approx !important;
}
.string-highlight {
	color: $color_tan_hide_80_approx;
}
#typewriter {
	font-size: 20px;
	margin: 0;
	font-family: $font_4;
	color: $white;
	margin-top: 60px;
	margin-left: 15px;
	line-height: 1.4;
	margin-top: -100px;
	
	&:after {
		content: "|";
		animation: blink 500ms linear infinite alternate;
		margin-top: -30px;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.h1-white {
	color: $white !important;
	margin-left: 0 !important;
}
.health {
	margin-left: 45px;
	height: 15px;
	width: 85%;
	margin-bottom: 10px;
	padding-top: 1px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	border-bottom: 1px solid #1f1f21;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
	background: #212529;
	position: relative;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	.skill-bar {
		display: block;
		overflow: hidden;
		position: relative;
		height: 100%;
		margin-left: 1px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		min-width: 13px;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 10px;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 10px;
		&:after {
			display: block;
			position: absolute;
			background-color: $black_20;
			width: 6px;
			height: 6px;
			top: 4px;
			right: 4px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 2px 2px $black_30, 0 1px 1px $white_50;
		}
	}
	.shade {
		position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-top: -30px;
	}
	
}
.svgskill {
	width: 30px;
	height: 30px;
	float: left;
	margin-top: -15px;
}
.skill {
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
	padding-top: 1px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	background-color: $color_shark_approx;
	border-bottom: 1px solid $color_log_cabin_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 2px 5px $black_30, 0 1px 0 $white_10;
	position: relative;
	.progress-bar {
		display: block;
		overflow: hidden;
		position: relative;
		height: 100%;
		margin-left: 1px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		min-width: 13px;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 10px;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 10px;
	}
	.skill-bar:after {
		display: block;
		position: absolute;
		background-color: $black_20;
		width: 6px;
		height: 6px;
		top: 4px;
		right: 4px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 2px 2px $black_30, 0 1px 1px $white_50;
	}
}

.warm {
	background: $color_congress_blue_approx;
	background: linear-gradient(to right, $color_congress_blue_approx 30%, $color_purple_approx 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_downy_approx', endcolorstr='$color_primrose_approx', gradienttype=1);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 0 $white_30, inset 0 -3px 4px $color_razzmatazz_40_approx;
}
.cool {
	background: $color_downy_approx;
	background: linear-gradient(to right, $color_downy_approx 30%, $color_primrose_approx 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_downy_approx', endcolorstr='$color_primrose_approx', gradienttype=1);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 0 $white_50, inset 0 -3px 4px $color_riptide_40_approx;
}
p {
	font-size: .8rem;
}
h2 {
	font-family: $font_2;
	font-size: 1.5rem;
	color: $white;
	display: block;
	text-align: center;
}
b {
	font-weight: 400;
	font-family: $font_2;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
	padding: 0 10px 6px;
	font-size: .8rem;
	line-height: .8;
	position: relative;
	color: $white;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: $color_mid_gray_approx;
		top: 0;
		left: 0;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: $color_mid_gray_approx;
		top: 0;
		right: 0;
	}
}
@media(max-width: 700px) {
	.page-wrap {
		padding: 60px 0 0 !important;
	}
	.gallery-item {
		margin: 20px !important;
	}
	.styles_closeButton__20ID4 {
		fill: #696767;
		outline: none !important;
		margin-top: -10px;
		
	}
	.lightbox-item {
		text-align: center;
		img {
			position: relative;
			top: 0;
			margin-left: -200px !important;
			margin-top: -70px !important;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: none;
		}
		.person-info-wrap {
			padding-left: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: none !important;
		}
		.person-info {
			padding: 20px 60px !important;
			border: none;
			width: 324px !important;
			height: 180px !important;
			margin-left: -342px !important;
			margin-top: 23px !important;
			li {
				line-height: 1.4;
			}
			.portfoliobtn {
				margin-left: -375px !important;
			}
		}
		.page-link {
			margin-top: -221px;
			margin-left: -50px !important;
		}
		.gallery-department {
			display: none;
		}
	}
	  .lightbox-item-backdrop {
		  left: 20px;
		  right: 20px;
	}
   .gallery-name h5{
		font-size: 13px !important;
		color: #aeaeae !important;
	}

}
.gallery-wrap {
	list-style: none !important;
	padding: 0 !important;
	position: relative !important;
	z-index: 10 !important;
	text-align: center !important;
	text-decoration: none !important;
}
.gallery-item {
	text-align: center !important;
	margin: 33px !important;
	position: relative !important;
	display: inline-block !important;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 2px $color_log_cabin_approx, 0 1px 5px $color_log_cabin_approx, 0 1px 12px $color_log_cabin_approx !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 7px;
	background: linear-gradient(to right, #fff 30%, #aeaeae) !important ;
}
.gallery-link {
	display: block !important;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) !important;
	cursor: pointer !important;
	position: relative;

	img {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		position: relative !important;
		height: auto !important;
		margin: 10px !important;
	}
	.gallery-name {
		font-size: 14px !important;
		color: $color_mountain_mist_approx !important;
		
	}
	.gallery-department {
		color: #aeaeae !important;
		font-weight: 200 !important;
		font-size: 15px !important;
		line-height: 1 !important;
				
	}
	.page-link {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		text-indent: -9000px !important;
		overflow: hidden !important;
		cursor: pointer !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 2px $color_log_cabin_approx, 0 1px 5px $color_log_cabin_approx, 0 1px 12px $color_log_cabin_approx !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px !important;
		border: none !important;
		z-index: -1 ;
		text-align:center;
		
	}
	&:after {
		content: "" !important;
		display: block !important;
		position: absolute !important;
		left: 0 !important;
		top: 0 !important;
		z-index: -1 !important;
		width: 100% !important;
		height: 100% !important;
		background: linear-gradient(to right, $color_congress_blue_approx 30%, $color_purple_approx 100%) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 1px 0 $white_30, inset 0 -3px 4px $color_razzmatazz_40_approx;
		opacity: 0 !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none !important;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.9) !important;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 2s cubic-bezier(0, 1, 0.22, 1) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 2px $color_log_cabin_approx, 0 1px 5px $color_log_cabin_approx, 0 1px 12px $color_log_cabin_approx !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px !important;
	}
}

.gallery-link:hover .gallery-name {

		position: absolute !important;
		bottom: 3px !important;
		z-index: 20 !important;
		text-align: left !important;
		background-color: rgb(16, 17, 12) !important;
		font-size: 22px !important;
		color: #aeaeae !important;
		padding: 10px 100px 0px 100px !important;
		transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1) 0s !important;
		margin-left: 3px;
		border-radius: 5px !important;
		font-weight: 200;
}

.gallery-link:hover .gallery-department{
	display:none;
}
@media(min-width: 700px) {
	.gallery-link {
		img {
			width: auto !important;
			margin: 0 !important;
			border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
			
		}
		

		.gallery-department {
			position: absolute !important;
			top: -25px !important;
			right: 0 !important;
			z-index: 10 !important;
			text-transform: uppercase !important;
			letter-spacing: .1em !important;
			text-align: right !important;
			
		}
		&:hover {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(0.99) !important;
			border-radius: 5px;
			&:after {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: scale(1.09) !important;
				transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1) 0s !important;
				opacity: 1 !important;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 3px 20px $black_50 !important;
				

			}
		}
	}
}
.headshot:hover{
	transform: scale(1.09) !important;
	transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1) 0s !important;
}
.portfoliobtn {
	margin-left: -375px !important;
}
.lightbox-item {
	display: block !important;
	position: fixed;
	z-index: 1200 !important;
	transform: translate(-40%, -40%) !important;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	img {
		position: absolute;
		top: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0%, -50%);
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 20px $black_50;
		z-index: 30;
		margin-left: -100px;
    margin-top: 70px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 10px;
		background-color: #fff;
	}
	h2 {
		display: none;
	}
	.person-page-title {
		font-size: 1.3em;
		margin-top: 0;
		margin-bottom: 1em;
		display: block;
		color: $color_la_rioja_approx;
	}
	.gallery-department {
		position: absolute;
    top: -30px;
    /* left: 0; */
    z-index: 5;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 33px;
		margin-top: -100px;
    margin-left: -100px;
    margin-right: auto;
	}
	.a {
		margin-top:-100px;
	}
	.person-info-wrap {
		width: 100%;
		padding-left: 310px;
		display: block !important;
		position: absolute;
		top: 50%;
		left: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-50%);
		z-index: 5;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	.person-info {
    padding: 98px 50px 97px 140px;
    margin-top: 180px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    list-style: none;
    box-sizing: border-box;
    color: #010101;
    /* overflow: hidden; */
    border-radius: 5px;
    width: 643px;
    height: 300px;
    margin-left: -457px;
		li {
			line-height: 1.8;
			&.filter-full_name {
				border-top: 1px solid $color_mountain_mist_approx;
				padding-top: 1.4em;
				text-transform: uppercase;
				letter-spacing: .1em;
				font-family: $font_10, $font_11, $font_12, $font_2, $font_13, $font_14, $font_3;
			}
			&:last-child {
				border-bottom: 1px solid $color_mountain_mist_approx;
				padding-bottom: 1.5em;
			}
		}
		.filter-common_name {
			display: none;
		}
		.filter-first_name {
			display: none;
		}
		.filter-last_name {
			display: none;
		}
		.filter-department {
			display: none;
		}
	}
	.page-link {
		position: absolute;
		bottom: 0;
		z-index: 50;
		right: 100px;
		background: $white !important;
		padding: 10px 20px;
		color: $color_log_cabin_approx !important;
		font-weight: 500;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 15px $black_35;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(50%);
		border-radius: 5px;
	}
}
.lightbox-img {
	position: absolute;
	z-index: 2000;
}
.lightbox-item-backdrop {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50px;
	right: 50px;
	margin: auto;
	background: transparent;
	z-index: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}
.lightbox-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: $black_80;
	cursor: pointer;
	z-index: 1100;
}
.lightbox-single {
	position: relative;
	top: 0;
	left: 0;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: none;
	margin: 50px auto;
	padding: 50px 0;
	z-index: 20;
	img {
		opacity: 1;
	}
	.person-info-wrap {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: none;
	}
}
.back-link {
	text-align: center;
	a {
		display: inline-block;
		padding: 10px 20px;
		background: $color_la_rioja_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 15px $black_35;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease;
		&:hover {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 5px 20px 2px $black_90 !important;
			text-decoration: none !important;
			background-color: $color_turbo_approx !important;
		}
	}
}
.gallery-item-filler {
	visibility: hidden;
	height: 0;
}
.footer {
	padding: 0 0 5em;
	color: $white;
	margin-right: auto;
	margin-left: auto;
	h6 {
		font-family: $font_0, $font_1;
		margin-bottom: 40px;
		position: relative;
		color: $white;
		&:after {
			position: absolute;
			content: "";
			background: $gray;
			width: 12%;
			height: 1px;
			left: 0;
			bottom: -20px;
		}
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			display: block;
			a {
				color: $white;
				text-decoration: none;
				&:hover {
					color: $color_silver_chalice_approx !important;
					text-decoration: none;
				}
			}
		}
	}
	p {
		font-family: $font_0, $font_1;
		color: $color_silver_chalice_approx;
	}
}
.dealer-panel-title {
	min-height: 34px;
}
.btn-default {
	color: $white;
	border-color: $black_20;
	background: $black_5;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	&:hover {
		color: $white !important;
		background: $black_10 !important;
		border-color: $black_20 !important;
	}
}
.inverse {
	color: $color_gravel_approx;
}
.hidden {
	display: none !important;
}
.tag {
	text-align: center;
	a {
		color: $color_storm_dust_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-out 0s;
		&:hover {
			color: $color_la_rioja_approx !important;
		}
	}
}
.img-shadow {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateY(6%);
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(20px);
	opacity: 1;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s ease, width .4s ease;
}
@supports(-ms-ime-align: auto) {
	.img-shadow {
		display: none;
	}
}
@media screen and(-ms-high-contrast: active),(-ms-high-contrast: none) {
	.img-shadow {
		display: none;
	}
}
#contact {
	background-color: $color_woodsmoke_approx;
	margin-left: auto;
	margin-right: auto;
	
}
.contact {
    margin-left: auto !important;
	margin-right: auto;
	margin-top: 45px;
}
.hcontact {
	margin-left: 270px;
}
.contact-form {
	input {
		width: 100%;
		margin: 1px;
		padding: 12px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid #1f1f21;
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10
		background: $color_shark_approx;
		font-family: $font_0, $font_1;
		color: $white;
		font-weight: 300;
		font-size: 18px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: ease-in-out 0.25s;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		&:focus {
			outline: none;
			resize: none;
			border-bottom: 3px;
			border-style: solid;
			box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgb(255, 255, 255);
		}
	}
	textarea {
		width: 100%;
		padding: 12px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid $color_log_cabin_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 2px 5px $black_30, 0 1px 0 $white_10;
		background: $color_shark_approx;
		font-family: $font_0, $font_1;
	  font-size: 20px !important;
		font-weight: 300;
		font-size: 18px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: ease-in-out 0.25s;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		min-height: 50px;
		max-height: 500px;
		white-space: pre-wrap;
		word-wrap: break-word;
		resize: vertical;
		overflow: hidden;
		color:#f2f1f1;
		&:focus {
			outline: none;
			resize: none;
			border-bottom: 3px;
			border-style: solid;
			box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgb(255, 255, 255);
		}
	}
	select {
		width: 100%;
		margin: 3px;
		padding: 1em;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid $color_log_cabin_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 2px 5px $black_30, 0 1px 0 $white_10;
		background: $color_shark_approx;
		font-family: $font_0, $font_1;
		color: $white;
		font-weight: 300;
		font-size: 18px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: ease-in-out 0.25s;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		&:focus {
			outline: none;
			resize: none;
			border-bottom: 3px;
			border-style: solid;
			
		}
	}
	input::placeholder {
		color: #aeaeae;
		font-size: 1.25rem;
		font-weight: 300;
		font-family: $font_0, $font_1;
		text-decoration: none;
		padding-top: 30px;
		vertical-align: middle;
	}
	label {
		color: $color_silver_chalice_approx;
		font-size: 1.3rem;
		font-weight: 300;
		padding: 1em;
		font-family: $font_0, $font_1;
		text-decoration: none;
		margin-top: -40px;
		margin-left: -10px;
	}
	#slider-range-min {
		height: 15px;
		width: 100%;
		margin-bottom: 10px;
		padding-top: 1px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 2px 5px $black_30, 0 1px 0 $white_10;
		background: $color_shark_approx !important;
		position: relative;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 9px;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 9px;
		border-color: $color_woodsmoke_approx;
		margin-top: -30px;
		.ui-slider-range {
			background: linear-gradient(to right, $color_congress_blue_approx 30%, $color_purple_approx 100%);
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 1px 0 $white_30, inset 0 -3px 4px $color_razzmatazz_40_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 9px;
			//Instead of the line below you could use @include border-bottom-right-radius($radius)
			border-bottom-right-radius: 9px;
		}
		.ui-slider-handle {
			outline: 0;
			top: 1.1em;
			margin-left: -.6em;
			width: 23px;
			height: 23px;
			border: 0;
			background: $color_purple_approx;
			cursor: pointer;
			margin-top: -23px;
		}
	}
	#amount {
		border: 0;
    color: #212529;
    font-weight: 200;
    font-size: 36px;
    padding: 12px;
    box-sizing: border-box;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #1f1f21;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
    background: rgba(232, 240, 254, 1);
    font-family: Open Sans, sans-serif !important;
    /* color: #ffffff; */
    /* font-weight: 300; */
    font-size: 22px;
    transition: ease-in-out 0.25s;
    border-radius: 5px;
	}
	li div {
		margin-bottom: 2.5em;
	}
	button:focus {
		outline: none;
		resize: none;
		border-bottom: 3px;
		border-style: solid;
		box-shadow: inset 0 2px 5px $color_purple_heart_approx, 0 1px 0 $color_cerise_approx;
	}
}
.contact-spacing {
	padding: 10px;
}
.page-link {
	position: relative !important;
	display: block !important;
	padding: 0.5rem 0.75rem !important;
	margin-left: -1px !important;
	line-height: 1.25 !important;
	color: $color_silver_chalice_approx !important;
	border: 1px solid $color_woodsmoke_approx !important;
	margin-top: -135px;
	background-color: #212529;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff !important;
	background-color: #aeaeae;
	border-color: #673ab7;
}
.page-link-disabled {
		position: relative !important;
	display: block !important;
	padding: 0.5rem 0.75rem !important;
	margin-left: -1px !important;
	line-height: 1.25 !important;
	color: #fff!important;
	border: 1px solid $color_woodsmoke_approx !important;
	margin-top: -135px;
	background-color: $color_silver_chalice_approx;
}
#gallery {
	margin-top: 80px;
}
.pag {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; 
}
.name {
	font-weight: 300;
}
.cv-p {
	font-size: 1.2rem;
	margin-left: 0;
	text-align: justify;
}
svg {
	width: 35px !important;
}
.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	&.circle {
		animation: dash 0.9s ease-in-out;
	}
	&.line {
		stroke-dashoffset: 1000;
		animation: dash 0.9s 0.35s ease-in-out forwards;
	}
	&.check {
		stroke-dashoffset: -100;
		animation: dash-check 0.9s 0.35s ease-in-out forwards;
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
.slideport-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.icon-arrow-left {
	margin-top: -2px;
	font-size: 9px;
	width: 2em;
	height: 2em;
}
.icon-arrow-right {
	margin-top: -2px;
	font-size: 9px;
	width: 2em;
	height: 2em;
}
.slideport-item-bg {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	z-index: 0 !important;
	width: 100% !important;
	height: 100% !important;
	&.active {
		opacity: 1;
	}
}
.slideport-slider__item {
	display: block !important;
	text-align: center !important;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) !important;
	cursor: pointer !important;
	opacity: 0;
	width: 450px;
	flex-shrink: 0;
	&:hover {
		content: "" !important;
		display: block !important;
		background: linear-gradient(to right, $color_congress_blue_approx 30%, $color_purple_approx 100%) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 1px 0 $white_50, inset 0 -3px 4px $color_razzmatazz_40_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none !important;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.15) !important;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 3s cubic-bezier(0, 1, 0.22, 1) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 2px $color_log_cabin_approx, 0 1px 5px $color_log_cabin_approx, 0 1px 12px $color_log_cabin_approx !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px !important;
		opacity: 1;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 2s;
		.slideport__img img {
			background-color: $white_100;
		}
	}
	&:active {
		content: "" !important;
		display: block !important;
		background: linear-gradient(to right, $color_congress_blue_approx 30%, $color_purple_approx 100%) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 1px 0 $white_50, inset 0 -3px 4px $color_razzmatazz_40_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none !important;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.15) !important;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 3s cubic-bezier(0, 1, 0.22, 1) !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 2px $color_log_cabin_approx, 0 1px 5px $color_log_cabin_approx, 0 1px 12px $color_log_cabin_approx !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px !important;
		opacity: 1;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 2s;
		.slideport__img img {
			background-color: $white_100;
		}
	}
	&.swiper-slide {
		opacity: 0;
		pointer-events: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all .3s;
	}
	&.swiper-slide-active {
		opacity: 1;
		pointer-events: auto;
		margin: 15px;
	}
	&.swiper-slide-prev {
		opacity: 1;
		pointer-events: auto;
		margin: 15px;
	}
	&.swiper-slide-next {
		opacity: 1;
		pointer-events: auto;
		margin: 15px;
	}
}
.slideport-slider {
	z-index: 2;
	max-width: 450px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
@media screen and(max-width: 1300px) {
	.slideport-slider {
		max-width: 100%;

	}
}
@media screen and(max-width: 576px) {
	.gallery-wrap {
		margin-top: -120px;
	}
	.styles_closeButton__20ID4 {
    margin-right: -15px;
	}
	.slideport-slider {
		margin-top: 45px;
		width: 400px;
	}
	.slideport__item {
		padding: 20px;
	}
	.slideport__img {
		height: 400px;
		height: 220px;
		margin-top: 30px;
		width: 100%;
		img {
			max-width: 650px;
		}
	}
	.slideport-date {
		margin-bottom: 10px;
		display: inline-flex;
		align-items: center;
		padding-bottom: 0;
	}
	.slideport-date__title {
		margin-right: 10px;
	}
	.slideport__title {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.slideport-slider__pagination .swiper-pagination-bullet-active {
		width: 70px;
	}
}
.slideport-slider__wrp {
	display: flex;
	align-items: flex-start;
	position: relative;
	z-index: 2;
}
@media screen and(max-width: 992px) {
	.slideport-slider__item {
		width: 450px;
	}
	.slideport__item {
		padding: 30px;
	}
	.slideport__img {
		height: 400px;
		img {
			max-width: 650px !important;
			height: 400px !important;
			margin-left: -400px !important;
			margin-top: -135px;
		}
	}
	.logotop {
		margin-left: 90px !important;
	}

	.hcontact {
		margin-left: 0;
	}
	.portrait img {
			max-width: 700px;
			margin-top:100px;
	}
	#typewriter{
		margin-top: -40px;
	}
	#portfolio, #portfolio-web, #portfolio-ui, #portfolio-lg, #portfolio-pm, #contact, #cv, #skills {
		color: $white !important;
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	#portfoliopm1 {
		overflow-x: hidden;
	}
	.swiper-button-next {
		margin-top:-40px;
	}
	.swiper-button-prev {
		margin-top:-40px;
	}
	.text-white {
		/* max-width: 100%; */
		margin-left: auto !important;
		margin-right: auto !important;
		margin-right: -15px !important;
	}

	.name {
		font-weight: 300;
		margin-left: 10px;
		font-size: 22px !important;
	}
	.swoosh {
		height: 2.25px;
		width: 220px;
	}
	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255, 0.5);
		border-color: rgba(255, 255, 255, 0.1);
		position: absolute;
		outline: none;
		margin-top:-70px;
	}
	.navbar-dark .navbar-brand {
    color: #fff;
    transform: scale(0.8);
		margin-top: 10px;
		margin-top:-120px;
  }
	.gallery-department {
		margin-top:10px;
	}

}
.slideport-slider__ctr {
	position: relative;
	z-index: 12;
	max-width: 850px;
}
.slideport-slider__arrows {
	margin-top: -80px;
	margin-bottom: 80px;
}
.slideport-slider-prev {
	margin-top: 0;
}
.slideport-slider-next {
	margin-top: 0;
}
.slideport-slider__arrow {
	background: $white;
	border: none;
	display: inline-flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 6px 26px 6px $black_25;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	position: absolute;
	top: 50%;
	z-index: 12;
	cursor: pointer;
	outline: none !important;
	&:focus {
		outline: none !important;
	}
	.icon-font {
		display: inline-flex;
	}
	&.slideport-slider-prev {
		left: 15px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-50%);
	}
	&.slideport-slider-next {
		right: 15px;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-50%);
	}
}
.slideport-slider__pagination {
	text-align: center;
	margin-top: 50px;
	.swiper-pagination-bullet {
		width: 13px;
		height: 10px;
		display: inline-block;
		background: $white;
		opacity: .2;
		margin: 0 5px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 20px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .5s, background-color .5s, width .5s;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .5s, .5s, 0s;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		background: $white;
		width: 100px;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: 0s;
	}
}
.slideport__item {
	padding: 5px;
	color: $color_silver_chalice_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	display: block;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .3s;
	margin: 0 25px -20px 35px;
	&.active {
		color: $white;
		.slideport-date {
			opacity: 1;
		}
		.slideport__title {
			opacity: 1;
		}
		.slideport__txt {
			opacity: 1;
		}
		.slideport__img {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
}
@media screen and(min-width: 800px) {
	.slideport__item:hover {
		color: $white;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .1s;
		.slideport-date {
			opacity: 1;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: .1s;
		}
		.slideport__title {
			opacity: 1;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: .1s;
		}
		.slideport__txt {
			opacity: 1;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: .1s;
		}
		.slideport__img {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
}
.slideport-date {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid;
	display: inline-block;
	opacity: .7;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .3s;
}
.slideport-date__title {
	display: block;
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: 500;
}
.slideport-date__txt {
	font-size: 16px;
}
.slideport__title {
	font-size: 25px;
	font-weight: 500;
	opacity: .7;
	margin-top: 10px;
	margin-bottom: 15px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .3s;
}
.slideport__txt {
	margin: 10px 0;
	line-height: 1.6em;
	font-size: 15px;
	opacity: .7;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .3s;
}
.slideport__img {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 7px;
	height: 220px;
	margin-top: 30px;
	width: 100%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .3s;
	//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
	transform-origin: 0 0;
	img {
		margin-left: -10px;
		max-width: 98%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 7px;
		height: 220px;
		background-color: $concrete;
	}
}
.nav-link h1 {
	font-weight: 300;
}
#section about {
	background-color: $color_woodsmoke_approx !important;
}
.content > p {
	text-align: center;
}
.container-img:hover .img-shadow {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateY(10%) translateX(-2.5%);
	width: 105%;
}
.social .fa {
	color: $gray;
	font-size: 22px;
	padding: 10px 15px;
	background: $color_masala_approx;
}
a:hover {
	color: $color_silver_chalice_approx !important;
	text-decoration: none;
}
.page-item {
	background-color: #212529 !important;
}
.page-item.active {
	background-color: #141516 !important;
}
.profile-img img {
	border-radius: 4px !important;
	margin-top: 10px;
}
.name-wraper h1 {
	float: left;
}

.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
    
    box-shadow: none !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #673ab7 !important;
}
.devicon-git-plain {
  max-width: 2em;
}

.devicon-git-plain path {
  fill: #4691f6;
}
[class^="devicon-"], [class*=" devicon-"] {
	font-family: 'devicon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 30px;
	-moz-osx-font-smoothing: grayscale;
	color: #aeaeae;
}
.container-fluid {
	margin-top: 100px;
}
.styles_modal__gNwvD {
	max-width: 100% !important; 
	position: relative !important;
	padding: 0 !important;
	background: transparent !important;
	background-clip: padding-box !important;
	box-shadow: none !important;
	margin: auto !important;
	border-radius: 5px !important;
}
.styles_overlay__CLSq- {
	background: rgba(0, 0, 0, 1) !important;
}

.modalBig{
	min-width: 100%;
	min-width: 100%;
	margin-left: -10% !important;
	margin-top:10%;
}
.modDal {
	overflow-x: hidden;
}
.modDal {
	padding: 0px !important;
	margin: 0px !important;
	}
.text-b {

	color: #222 !important;
}

#print-wrapper {
	margin-top:80px;
}
.white-b {
	background-color: #fff ;
}
.black-b {
	background-color: #000000 ;
}
.up{
 margin-top: -100px;
}
.down {
	margin-top:60px;
}
.bg-light {
	background-color: #ffffff !important;
}

.healthcv {
	margin-left: 45px;
	height: 15px;
	width: 85%;
	margin-bottom: 10px;
	padding-top: 1px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	border-bottom: 1px solid #bdbdbe;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
	background: #e8f0fe;

	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	.skill-bar {
		display: block;
		overflow: visible;
		position: relative;
		height: 100%;
		margin-left: 1px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		min-width: 13px;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 10px;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 10px;
		&:after {
			display: block;
			position: absolute;
			background-color: $black_20;
			width: 6px;
			height: 6px;
			top: 4px;
			right: 4px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 2px 2px $black_30, 0 1px 1px $white_50;
		}
	}
	.shade {
		position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-top: -30px;
	}
	
}
@page { size: portrait;  margin: 5mm;}

@media print {
  html, body {
     border: 1px solid white;
     height: 99%;
     page-break-after: avoid !important;
		 page-break-before: avoid !important;
		 -webkit-print-color-adjust: exact;
		 color-adjust: exact;
		 display:table;
		 background-color: #fff !important;
  }
  .print-display-none,
  .print-display-none * {
    display: none !important;
  }
  .print-visibility-hide,
  .print-visibility-hide * {
    visibility: hidden !important;
  }
  .printme,
  .printme * {
    visibility: visible !important;
  }
  .react-easy-print-print {
    position: absolute;
    left: 0;
    top: 0;
	}
	.print:last-child {
    page-break-after: avoid;
    page-break-inside: avoid;
    margin-bottom: 0px;
}
#skills {
	page-break-inside: avoid;
}
.footer {
	display:none !important;
}
#contact {
	display:none !important;
}
.hideprint {
	display:none !important;
}
}
.no-radius {
	border-radius: 0 !important;
	background-color:#10110c !important;
}

.skill-align{
	margin-top:40px;
}